body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #ffffff;
}

.slide {
    min-height: 100vh;
    padding: 80px;
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 180px;
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 14px;
}

ul {
    margin-left: 24px;
}

li {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 10px;
}
