body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
}

.slide {
    min-height: 100vh;
    padding: 80px;
    background: url('assets/bg.png') no-repeat center center;
    background-size: cover;
}

.logo {
    width: 180px;
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    margin-bottom: 25px;
}

p, li {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 14px;
}

ul {
    margin-left: 24px;
}
